In [38]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
import pickle
import numpy as np
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
import tensorflow as tf
from sklearn.model_selection import GridSearchCV
from sklearn.utils import resample
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
import seaborn as sns

In [39]:
heart_disease_data = pd.read_csv('heart.csv')

In [40]:
# Transform Chest Pain Type
def changeChestPainType(ChestPainType):
    if ChestPainType == "ASY":
        return 0
    elif ChestPainType == "NAP":
        return 1
    elif ChestPainType == "ATA":
        return 2
    else:
        return 3

# Along with replace() and map(), this is another way to encode the gender column into numbers.
heart_disease_data['ChestPainType'] = heart_disease_data['ChestPainType'].apply(changeChestPainType)
heart_disease_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,2,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,1,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,2,130,283,0,ST,98,N,0.0,Up,0
3,48,F,0,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,1,150,195,0,Normal,122,N,0.0,Up,0

In [41]:
# Transform Resting ECG
def changeRestingECG(RestingECG):
    if RestingECG == "Normal":
        return 0
    elif RestingECG == "LVH":
        return 1
    else:
        return 2

# Along with replace() and map(), this is another way to encode the gender column into numbers.
heart_disease_data['RestingECG'] = heart_disease_data['RestingECG'].apply(changeRestingECG)
heart_disease_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,2,140,289,0,0,172,N,0.0,Up,0
1,49,F,1,160,180,0,0,156,N,1.0,Flat,1
2,37,M,2,130,283,0,2,98,N,0.0,Up,0
3,48,F,0,138,214,0,0,108,Y,1.5,Flat,1
4,54,M,1,150,195,0,0,122,N,0.0,Up,0

In [42]:
# Transform ST SLope
def changeST_Slope(ST_Slope):
    if ST_Slope == "Flat":
        return 0
    elif ST_Slope == "Up":
        return 1
    else:
        return 2

# Along with replace() and map(), this is another way to encode the gender column into numbers.
heart_disease_data['ST_Slope'] = heart_disease_data['ST_Slope'].apply(changeST_Slope)
heart_disease_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,2,140,289,0,0,172,N,0.0,1,0
1,49,F,1,160,180,0,0,156,N,1.0,0,1
2,37,M,2,130,283,0,2,98,N,0.0,1,0
3,48,F,0,138,214,0,0,108,Y,1.5,0,1
4,54,M,1,150,195,0,0,122,N,0.0,1,0

In [43]:
# Transform Sex
def changeSex(sex):
    if sex == "M":
        return 0
    
    else:
        return 1

# Along with replace() and map(), this is another way to encode the gender column into numbers.
heart_disease_data['Sex'] = heart_disease_data['Sex'].apply(changeSex)
heart_disease_data.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,0,172,N,0.0,1,0
1,49,1,1,160,180,0,0,156,N,1.0,0,1
2,37,0,2,130,283,0,2,98,N,0.0,1,0
3,48,1,0,138,214,0,0,108,Y,1.5,0,1
4,54,0,1,150,195,0,0,122,N,0.0,1,0

In [44]:
# Transform ExerciseAngina
def changeExerciseAngina(ExerciseAngina):
    if ExerciseAngina == "Y":
        return 0
    
    else:
        return 1

heart_disease_data['ExerciseAngina'] = heart_disease_data['ExerciseAngina'].apply(changeExerciseAngina)
heart_disease_data.head(50)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,0,2,140,289,0,0,172,1,0.0,1,0
1,49,1,1,160,180,0,0,156,1,1.0,0,1
2,37,0,2,130,283,0,2,98,1,0.0,1,0
3,48,1,0,138,214,0,0,108,0,1.5,0,1
4,54,0,1,150,195,0,0,122,1,0.0,1,0
5,39,0,1,120,339,0,0,170,1,0.0,1,0
6,45,1,2,130,237,0,0,170,1,0.0,1,0
7,54,0,2,110,208,0,0,142,1,0.0,1,0
8,37,0,0,140,207,0,0,130,0,1.5,0,1
9,48,1,2,120,284,0,0,120,1,0.0,1,0
10,37,1,1,130,211,0,0,142,1,0.0,1,0
11,58,0,2,136,164,0,2,99,0,2.0,0,1
12,39,0,2,120,204,0,0,145,1,0.0,1,0
13,49,0,0,140,234,0,0,140,0,1.0,0,1
14,42,1,1,115,211,0,2,137,1,0.0,1,0
15,54,1,2,120,273,0,0,150,1,1.5,0,0
16,38,0,0,110,196,0,0,166,1,0.0,0,1
17,43,1,2,120,201,0,0,165,1,0.0,1,0
18,60,0,0,100,248,0,0,125,1,1.0,0,1
19,36,0,2,120,267,0,0,160,1,3.0,0,1
20,43,1,3,100,223,0,0,142,1,0.0,1,0
21,44,0,2,120,184,0,0,142,1,1.0,0,0
22,49,1,2,124,201,0,0,164,1,0.0,1,0
23,44,0,2,150,288,0,0,150,0,3.0,0,1
24,40,0,1,130,215,0,0,138,1,0.0,1,0
25,36,0,1,130,209,0,0,178,1,0.0,1,0
26,53,0,0,124,260,0,2,112,0,3.0,0,0
27,52,0,2,120,284,0,0,118,1,0.0,1,0
28,53,1,2,113,468,0,0,127,1,0.0,1,0
29,51,0,2,125,188,0,0,145,1,0.0,1,0
30,53,0,1,145,518,0,0,130,1,0.0,0,1
31,56,0,1,130,167,0,0,114,1,0.0,1,0
32,54,0,0,125,224,0,0,122,1,2.0,0,1
33,41,0,0,130,172,0,2,130,1,2.0,0,1
34,43,1,2,150,186,0,0,154,1,0.0,1,0
35,32,0,2,125,254,0,0,155,1,0.0,1,0
36,65,0,0,140,306,1,0,87,0,1.5,0,1
37,41,1,2,110,250,0,2,142,1,0.0,1,0
38,48,1,2,120,177,1,2,148,1,0.0,1,0
39,48,1,0,150,227,0,0,130,0,1.0,0,0
40,54,1,2,150,230,0,0,130,1,0.0,1,0
41,54,1,1,130,294,0,2,100,0,0.0,0,1
42,35,0,2,150,264,0,0,168,1,0.0,1,0
43,52,0,1,140,259,0,2,170,1,0.0,1,0
44,43,0,0,120,175,0,0,120,0,1.0,0,1
45,59,0,1,130,318,0,0,120,0,1.0,0,0
46,37,0,0,120,223,0,0,168,1,0.0,1,0
47,50,0,2,140,216,0,0,170,1,0.0,1,0
48,36,0,1,112,340,0,0,184,1,1.0,0,0
49,41,0,0,110,289,0,0,170,1,0.0,0,1

In [45]:
#setting the x and y values
y = heart_disease_data['HeartDisease']
X = heart_disease_data.drop(['HeartDisease'], axis = 1)
y

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [47]:
# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler()
X_scaler.fit(X_train)

StandardScaler()

In [48]:
# Transform the training and testing data by using the X_scaler and y_scaler models

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [49]:
n_estimators = [int(x) for x in np.linspace(start=10, stop=80, num=10)]
max_features = ['auto', 'sqrt']
max_depth = [2,4,6,8]
min_samples_split = [2,5]
min_samples_leaf = [1,2]
bootstrap = [True, False]

In [50]:
# RF_params = {'n_estimators': n_estimators,
#             'max_features': max_features,
#              'max_depth': max_depth,
#              'min_samples_split': min_samples_split,
#              'min_samples_leaf': min_samples_leaf,
#              'bootstrap': bootstrap
             
#             }

In [51]:
RF_model = RandomForestClassifier()

In [52]:
# RF_grid = GridSearchCV(estimator=RF_model, param_grid =RF_params, cv=3, verbose=2, n_jobs = 4 )

In [53]:
# RF_grid.fit(X_train, y_train)

In [54]:
# RF_grid.best_params_

In [55]:
# RF_grid_best_params = RF_grid.best_params_
# RF_grid_best_params

In [56]:
RF_grid_best_params = { 'max_depth': [6],
 'max_features': ['sqrt'],
 'min_samples_leaf': [1],
 'min_samples_split':[5],
 'n_estimators': [33],
 'bootstrap': [True]
    
}

In [57]:
# print(f'Training Accuracy : {RF_grid.score(X_train, y_train)}')

In [58]:
# print(f'Testing Accuracy : {RF_grid.score(X_test, y_test)}')

In [59]:
RF_grid_params = GridSearchCV(estimator=RF_model, param_grid =RF_grid_best_params, cv=3, verbose=2, n_jobs = 4 )

In [60]:
RF_grid_params.fit(X_train, y_train)

Fitting 3 folds for each of 1 candidates, totalling 3 fits

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=4,
             param_grid={'bootstrap': [True], 'max_depth': [6],
                         'max_features': ['sqrt'], 'min_samples_leaf': [1],
                         'min_samples_split': [5], 'n_estimators': [33]},
             verbose=2)

In [61]:
# print(f'Training Accuracy : {RF_grid_params.score(X_train, y_train)}')

In [62]:
# print(f'Testing Accuracy : {RF_grid_params.score(X_test, y_test)}')

In [63]:
input_data = (41,1,2,110,250,0,2,142,1,0.0,1)
input_data_as_numpy_array = np.asarray(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1, -1)
input_data_reshape

array([[ 41.,   1.,   2., 110., 250.,   0.,   2., 142.,   1.,   0.,   1.]])

In [64]:

#standardise the data
std_data = X_scaler.transform(input_data_reshape)
prediction = RF_grid_params.predict(std_data)


if (prediction[0] ==0):
    print("The person does not have heart disease")
else:
    print("The person has heart disease")

The person does not have heart disease

C:\Users\nickj\anaconda3\anacondatake2\envs\PythonData\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
C:\Users\nickj\anaconda3\anacondatake2\envs\PythonData\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"